/* Figma Styles of your File */
:root {
  /* Colors */
  --bg: #0b1d26;
  --weiss: #ffffff;
  --accent: #fbd784;

  /* Fonts */
  /* Effects */
  --shadow-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2);
}
/* Figma Color Variables of your File */
